<main>
    <h2>DASHBOARD</h2>
    <br>
    <br>

    <div id="dashboard-user">
        <div id="schedule-events">
            <img src="img/calendar.png" alt="">
            <p><a href='@Url.Action("Index", "Agendamento")'>AGENDAR EVENTO</a></p>
        </div>

        <div id="history-events">
            <img src="img/clock.png">
            
            <p><a href='@Url.Action("Index", "Historico")'>HISTÓRICO DE EVENTOS</a></p>
        </div>
    </div>
</main>  